.navbar {
    height: 8rem;
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
}

.navbar.shrink .extra-nav-items {
    display: none !important;
}


.nav-link {
    color: #222222 !important;
}

.logo {
    color: #fe424d !important;
    font-size: 2rem !important;
    margin-left: -1rem;
    margin-bottom: 0.8rem;
}

.search-btn {
    background-color: #fe424d;
    color: #ffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    
}

.search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
}

.btn-search:hover {
    background-color: #fe424d;
    color: #ffff;
}

.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}

.navbar {
    transition: all 0.3s ease;
   
}


.navbar.shrink {
    height: 80px; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.navbar.shrink .navbar-btn-group {
    display: none;
}

.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  /* Popup card */
  .popup-card {
    background: white;
    padding: 20px 15px;
    border-radius: 8px;
    height: 200px;
    width: 320px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
  }
  /* Close button */
  .close-btn {
    position: absolute;
    top: -3px;
    right: 1px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    background: none;
  }